@model VolvoCash.Application.MainContext.DTO.Charges.ChargeDTO
@using VolvoCash.CrossCutting.Utils.Constants
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constancia de operación</title>
    <style>
        @Html.Raw("@font-face{font-family: VolvoBroadProDigital ; src: url(\"/fonts/VolvoBroadProDigital.otf\");}")
        @Html.Raw("@font-face{font-family: VolvoNovum-Regula ; src: url(\"/fonts/VolvoNovum-Regular.otf\");}")
    </style>
</head>
<body>
    <div style="padding: 16px; width: 395px; height:600px ; box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); position: absolute;">
        <div style="position: absolute;left: 36%;right: 35.95%;  top: 7%; bottom: 74.72%; background: #FFFFFF;
       display: flex;align-items: center;box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1); width: 100px; height: 100px; border-radius: 100%; z-index: 2;">
            <p style=" color: #16A6C9;  font-size: 33px; text-align: center; font-family: VolvoBroadProDigital">VOLVO CASH</p>
        </div>
        <div style="border: 3px solid #16A6C9; width: 355px; position: absolute; height: 496px; box-sizing: border-box;
        left: 7%; right: 5.06%; top: 16.19%; bottom: 4.43%; z-index: 1;">
            <div style="margin-top: 60px; margin-left: 25px;">
                <p style="text-align: center; font-weight: bold;font-size: 18px; color: #16A6C9; font-family: VolvoNovum-Regula;">Constancia de operación</p>
                <div style="display: flex;">
                    <p style="width: 100px; color: #777777; font-style: normal; font-weight: normal;font-size: 14px;  left: 60px; font-family: VolvoNovum-Regula">Operación</p>
                    <p style="width: 200px; word-wrap: break-word; color: #000000; font-style: normal; font-weight: bold;font-size: 16px;   left: 180px; font-family: VolvoNovum-Regula">@Model.OperationCode</p>
                </div>
                <div style="display: flex;">
                    <p style="width: 100px; color: #777777; font-style: normal; font-weight: normal;font-size: 14px;  left: 60px; font-family: VolvoNovum-Regula">Monto</p>
                    <p style="width: 200px; word-wrap: break-word; color: #000000; font-style: normal; font-weight: bold;font-size: 16px;   left: 180px; font-family: VolvoNovum-Regula">@Model.Amount.Label</p>
                </div>
                <div style="display: flex;">
                    <p style="width: 100px; color: #777777; font-style: normal; font-weight: normal;font-size: 14px; left: 60px; font-family: VolvoNovum-Regula">Concepto</p>
                    <p style="width: 200px; word-wrap: break-word; color: #000000;font-style: normal; font-weight: bold;font-size: 16px;   left: 180px; font-family: VolvoNovum-Regula">@Model.DisplayName</p>
                </div>
                <div style="display: flex;">
                    <p style="width: 100px; color: #777777; font-style: normal; font-weight: normal;font-size: 14px; left: 60px; font-family: VolvoNovum-Regula">Observación</p>
                    <p style="width: 200px; word-wrap: break-word; color: #000000;font-style: normal; font-weight: bold;font-size: 16px;   left: 180px; font-family: VolvoNovum-Regula">@Model.Description</p>
                </div>
                <div style="display: flex;">
                    <p style="width: 100px; color: #777777; font-style: normal; font-weight: normal;font-size: 14px; left: 60px; font-family: VolvoNovum-Regula">Cajero</p>
                    <p style="width: 200px; word-wrap: break-word; color: #000000;font-style: normal; font-weight: bold;font-size: 16px;   left: 180px; font-family: VolvoNovum-Regula">@Model.Cashier.FullName</p>
                </div>
                <div style="display: flex;">                    
                    <p style="width: 100px; color: #777777; font-style: normal; font-weight: normal;font-size: 14px; left: 60px; font-family: VolvoNovum-Regula">Fecha</p>
                    <p style="width: 200px; word-wrap: break-word; color: #000000;font-style: normal; font-weight: bold;font-size: 16px;  left: 180px; font-family: VolvoNovum-Regula">@Model.CreatedAt.ToString(DateTimeFormats.DateFormat)</p>
                </div>
                <div style="display: flex;">
                    <p style="width: 100px; color: #777777; font-style: normal; font-weight: normal;font-size: 14px; left: 60px; font-family: VolvoNovum-Regula">Hora</p>
                    <p style="width: 200px; word-wrap: break-word; color: #000000; font-style: normal; font-weight: bold;font-size: 16px;  left: 180px; font-family: VolvoNovum-Regula">@Model.CreatedAt.ToString(DateTimeFormats.TimeShortFormat)</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
